<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madonasyombua.growwithgoogleteamproject">

    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Facebook meta data -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- Start Login after test -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.intro.OnBoardingActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.InterestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.ProjectsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.activities.PostActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activities.AboutActivity" />
        <activity
            android:name=".ui.activities.HelpActivity"
            android:label="@string/help"
            android:parentActivityName=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.ManageProfileActivity" />
        <activity android:name=".ui.activities.MessageActivity" />

        <receiver android:name=".util.DevsFolioWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/devs_folio_widget_info" />
        </receiver>
    </application>

</manifest>